* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background: #a9a9a9;
  height: 100%;
  margin: 0;
}

/* header {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  color: #FFF;

}

.container {
  display: flex;
  width: 50%;
  margin: 1% 25%;
  border: 1px solid black;
  background-color: #2D313B;
  border-radius: 20px;
  color: #FFF;
}


.message_display {
  align-self: flex-end;
  border: 1px solid blue;
  background: #5F8BEB;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type_input {
  width: 100%;
  margin-top: 20px;
}

.button_input {
  width: 25%;
  margin: 5px 0 10px 5px;
  border-radius: 20px
} */
